{% extends "layouts/main.html" %}

{% set pageName = "Apply to Digital Outcomes and Specialists 7" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Digital Marketplace</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/DOS72ExisitngYourAccount">Your account</a></li>
        <li class="govuk-breadcrumbs__list-item">Apply to Digital Outcomes and Specialists 7.2</li>
      </ol>
    </nav>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h2 class="govuk-panel__title">Success</h2>
      <div class="govuk-panel__body">You have Opted in to DOS 7.2 Framework</div>
    </div>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Apply to Digital Outcomes and Specialists 7.2</h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Application progress</h2>

    <div class="gca-row-table">
      <div class="gca-row-table__row">
        <p class="gca-row-table__key"><a class="govuk-link" href="#">Confirm your company details</a></p>
        <p class="gca-row-table__value"><strong class="govuk-tag govuk-tag--blue">In progress</strong></p>
      </div>
      <div class="gca-row-table__row">
        <p class="gca-row-table__key"><a class="govuk-link" href="/DOS72ExistingDeclaration">Make your supplier declaration</a></p>
        <p class="gca-row-table__value"><strong class="govuk-tag govuk-tag--grey">Not started</strong></p>
      </div>
      <div class="gca-row-table__row">
        <p class="gca-row-table__key"><a class="govuk-link" href="/DOS72ExistingServices">Add, remove, edit and complete services</a></p>
        <p class="gca-row-table__value"><strong class="govuk-tag govuk-tag--grey">3 services</strong></p>
      </div>
      <div class="gca-row-table__row">
        <p class="gca-row-table__key"><a class="govuk-link" href="#">Financial Viability Risk Assessment (FVRA)</a></p>
        <p class="gca-row-table__value"><strong class="govuk-tag govuk-tag--blue">Completed</strong></p>
      </div>
      <div class="gca-row-table__row">
        <p class="gca-row-table__key"><a class="govuk-link" href="#">Answer quality award questions</a></p>
        <p class="gca-row-table__value"><strong class="govuk-tag govuk-tag--blue">Completed</strong></p>
      </div>
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save and continue",
        href: "/DOS72ExistingOptOut"
      }) }}

      {{ govukButton({
        text: "Cancel",
        href: "/DOS72Options",
        classes: "govuk-button--secondary"
      }) }}
    </div>

  </div>
</div>
{% endblock %}
