{% extends "layouts/main.html" %}

{% set pageName = "DOS 7.2 opt in or out" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">DOS 7.2 opt in or out use cases</h1>
    <p class="govuk-body">Choose one option below.</p>

    <form method="post" action="/DOS72OptInOut">
      {{ govukRadios({
        name: "dos72-opt-choice",
        fieldset: {
          legend: {
            text: "Select an option",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "opt-in",
            text: "DOS 7.2 Opt In - Current Supplier"
          },
          {
            value: "opt-out-current-supplier",
            text: "DOS 7.2 Opt Out - Current Supplier"
          },
          {
            value: "opt-out",
            text: "DOS 7.2 Opt In - New Supplier"
          },
          {
            value: "opt-out-new-supplier",
            text: "DOS 7.2 Opt Out - New Supplier"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Start"
      }) }}
    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/DOS72Options">Back to supplier options</a>
    </p>
  </div>
</div>
{% endblock %}
