{% extends "layouts/main.html" %}

{% set pageName = "DOS 7.2 are you sure" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="/DOS72ExistingOptOutAreYouSure">
      {{ govukRadios({
        name: "dos72-opt-out-confirm",
        fieldset: {
          legend: {
            text: "Are you sure you want to opt out of DOS 7.2?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/DOS72OptOutNarrative">Back to opt out narrative</a>
    </p>
  </div>
</div>
{% endblock %}
